@{
    ViewData["Title"] = $"Caaz Extras";
}

<div class="text-center">
    <h1 class="display-4">Extras</h1>
</div>

<table style="text-align:center" class="table table-hover table-bordered table-sm">
    <thead>
        <tr class="table-dark">
            <td>Nome</td>
            <td>Campeão</td>
            <td>Artilheiro</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Adrian</td>
            <td style="color:whitesmoke" class="bg-danger">Espanha</td>
            <td style="color:whitesmoke" class="bg-danger">Vini Jr</td>
        </tr>
        <tr>
            <td>Breier</td>
            <td style="color:whitesmoke" class="bg-danger">Brasil</td>
            <td style="color:whitesmoke" class="bg-danger">Neymar</td>
        </tr>
        <tr>
            <td>Bruna</td>
            <td style="color:whitesmoke" class="bg-danger">França</td>
            <td style="color:whitesmoke" class="bg-success">Mbappe</td>
        </tr>
        <tr>
            <td>Duda</td>
            <td style="color:whitesmoke" class="bg-danger">Inglaterra</td>
            <td style="color:whitesmoke" class="bg-danger">Kane</td>
        </tr>
        <tr>
            <td>Kadur</td>
            <td style="color:whitesmoke" class="bg-danger">Brasil</td>
            <td style="color:whitesmoke" class="bg-danger">Messi</td>
        </tr>
        <tr>
            <td>Karine</td>
            <td style="color:whitesmoke" class="bg-danger">Bélgica</td>
            <td style="color:whitesmoke" class="bg-danger">Depay</td>
        </tr>
        <tr>
            <td>Lucas</td>
            <td style="color:whitesmoke" class="bg-danger">Brasil</td>
            <td style="color:whitesmoke" class="bg-danger">Neymar</td>
        </tr>
        <tr>
            <td>Pedro</td>
            <td style="color:whitesmoke" class="bg-danger">Brasil</td>
            <td style="color:whitesmoke" class="bg-danger">Neymar</td>
        </tr>
        <tr>
            <td>Rodrigo</td>
            <td style="color:whitesmoke" class="bg-danger">Inglaterra</td>
            <td style="color:whitesmoke" class="bg-danger">Neymar</td>
        </tr>
        <tr>
            <td>Stoffels</td>
            <td style="color:whitesmoke" class="bg-danger">Inglaterra</td>
            <td style="color:whitesmoke" class="bg-danger">Messi</td>
        </tr>
        <tr>
            <td>Thales</td>
            <td style="color:whitesmoke" class="bg-success">Argentina</td>
            <td style="color:whitesmoke" class="bg-danger">Kane</td>
        </tr>
        <tr>
            <td>Thiago</td>
            <td style ="color:whitesmoke" class="bg-danger">Alemanha</td>
            <td style="color:whitesmoke" class="bg-danger">Muller</td>
        </tr>
    </tbody>
</table>
