@{
    ViewData["Title"] = "Caaz Regras";
}

<div class="text-center">
    <h1 class="display-4">Regras</h1>

</div>
<div class="text-lg-center">
    <p>
        • Registre suas apostas até o dia 18 de novembro
    </p>
    <p>
        • A aposta de cada uma das 48 partidas terá o valor de R$ 4,00
    </p>
    <p>
        • Nenhum placar pode ser incluido mais do que 8 vezes
    </p>
    <p>
        • 1x0 e 0x1 são considerados o mesmo placar
    </p>
</div>
